@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Agenda/Agenda.cshtml";
}

@model BacklineSoporte.Models.TareaModel

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" />
    <title>Agenda</title>
    <!-- Estilos y funciones básicas de funcionamiento -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <script src="~/ScriptsVistas/LogicaAgenda.js"></script>
    <link rel="stylesheet" type="text/css" href="~/CSS/AgendaCSS.css">
    <style>
        html, body {
            background-color: #121213;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.52'%3E%3Ccircle fill='%23121213' cx='50' cy='0' r='50'/%3E%3Cg fill='%23171718' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%231b1b1c' cx='50' cy='100' r='50'/%3E%3Cg fill='%231f1f21' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23232326' cx='50' cy='200' r='50'/%3E%3Cg fill='%2327282b' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%232c2c2f' cx='50' cy='300' r='50'/%3E%3Cg fill='%23303134' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23343539' cx='50' cy='400' r='50'/%3E%3Cg fill='%23393a3f' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%233d3f44' cx='50' cy='500' r='50'/%3E%3Cg fill='%23424449' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2347494e' cx='50' cy='600' r='50'/%3E%3Cg fill='%234b4e54' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23505359' cx='50' cy='700' r='50'/%3E%3Cg fill='%2354585f' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23595d64' cx='50' cy='800' r='50'/%3E%3Cg fill='%235e626a' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23626770' cx='50' cy='900' r='50'/%3E%3Cg fill='%23676d75' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%236C727B' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
            background-attachment: fixed;
            background-size: contain;
            font-family: 'Numans', sans-serif;
        }
    </style>
    <script>


        var urlObtenerTipoTarea = '@Url.Action("ObtenerTipoTarea", "Agenda")';
        var urlObtenerPrioridadTarea = '@Url.Action("ObtenerPrioridadTarea", "Agenda")';
        var urlObtenerUsuarios = '@Url.Action("ObtenerUsuarios", "Agenda")';
        var urlInsertarTarea = '@Url.Action("InsertarTarea", "Agenda")';
        var urlEditarTarea = '@Url.Action("EditarTarea", "Agenda")';
        var urlEliminarTarea = '@Url.Action("EliminarTarea", "Agenda")';
        var urlBusquedaFiltro = '@Url.Action("BusquedaFiltro", "Agenda")';
        var urlRealizarTarea = '@Url.Action("RealizarTarea", "Agenda")';


        $(document).ready(function () {

            $('.ui.selection.dropdown').dropdown();
            $('.ui.menu .ui.dropdown').dropdown({
                on: 'hover'
            });

        });
    </script>
</head>
<body>
    <br />
    <div style="margin-left:auto; margin-right:auto; width:91.5%; opacity:0.9; ">
        @*<div class="ui bottom attached segment" id="top" style="margin-left:auto; margin-right:auto; width:100%">*@

        <div class="ui bottom attached segment" id="fondo" style="width: 70%; margin-left: auto; margin-right: auto; background-color: darkgrey;">
            @*<div class="ui icon warning message">
                    <i class="search icon"></i>
                    <div class="content">
                        <div class="header">
                            Filtro
                        </div>
                        <p>Para lograr una búsqueda efectiva debe seleccionar el rango de fechas y el establecimiento.</p>
                    </div>
                </div>*@
            <table border="0">
                <tr>
                    <td><label style="color:aliceblue;">Fecha Desde</label></td>
                    <td style="width:5px"></td>
                    <td>
                        <div class="ui calendar" id="divFiltroDesde">
                            <div class="ui input left icon">
                                <input id="txtFiltroDesde" type="date" placeholder="Fecha desde" value=@Session["FiltroTareaDesde"]>
                            </div>
                        </div>

                    </td>
                    <td style="width:5px"></td>
                    <td><label style="color:aliceblue;">Fecha hasta</label></td>
                    <td style="width:5px"></td>
                    <td>
                        <div class="ui calendar" id="divFiltroHasta">
                            <div class="ui input left icon">
                                <input id="txtFiltroHasta" type="date" placeholder="Fecha desde" value=@Session["FiltroTareaHasta"]>
                            </div>
                        </div>

                    </td>
                    @*<td style="width:5px"></td>
                    <td><label style="color:aliceblue;">Usuario</label></td>
                    <td style="width:5px"></td>
                    <td id="tdFiltroUsuario" colspan="6">
                        <select id="cmbFiltroUsuario" class="ui search fluid selection dropdown"></select>
                    </td>*@
                    <td style="width:10px"></td>
                    <td>
                        <div id="btnBuscarFiltro" style="width:170px" class="ui blue right labeled icon button" onclick="BusquedaFiltro();">
                            Filtrar
                            <i class="search icon"></i>
                        </div>
                    </td>

                </tr>
                <tr>
                    

                </tr>

            </table>

        </div>






        @*</div>*@
    </div>


    <br />

    <div class="container-columns">


        <section class="flex-container">
            <h2 class="ui header" style="color:aliceblue">
                Baja
                <a class="btnAgendar" data-toggle="modal" data-target="#modalAgenda">
                    <i class="calendar alternate icon"></i>
                </a>
            </h2>



            @foreach (var tarea in Model.ListaTarea)
            {
                if (tarea.Prioridad_Id == 1 && (tarea.Fecha_Termino_Tarea >= DateTime.Now && tarea.Realizada == false))
                {

                    <div class="ui card @(@tarea.Realizada?"realizada":"")">
                        <div class="content">
                            <button class=" right floated red circular  ui icon button" value="@tarea.Id" data-toggle="modal" data-target="#modalEliminarTarea" onclick="PreparaEliminaTarea(this.value, this);">
                                <i class="trash icon"></i>
                            </button>
                            <button class=" right floated purple circular ui icon button" value="@tarea.Id" data-toggle="modal" data-target="#modalFinalizarTarea" onclick="PrepararRealizarTarea(this.value, this);">
                                <i class="check icon"></i>
                            </button>
                            <button class=" right floated blue circular ui icon button" value="@tarea.Id" onclick="PrepararEditarTarea(this.value, this); EditarTarea();" data-toggle="modal" data-target="#modalAgenda">
                                <i class="eye icon"></i>
                            </button>
                            <div class="header">@tarea.Tipo_Tarea</div>
                            <div class="description">
                                <p>
                                    @tarea.Detalle
                                </p>
                            </div>
                        </div>
                        <div class="extra content">
                            <span class="left floated like">
                                <i class="user icon"></i>
                                @tarea.Nombre_Completo
                            </span>
                            <span class="left floated star">
                                <i class="calendar alternate outline icon"></i>
                                Fecha inicio @tarea.Fecha_Inicio_Tarea.ToString()

                            </span>
                            <span class="left floated star">
                                <i class="calendar alternate outline icon"></i>
                                Fecha termino @tarea.Fecha_Termino_Tarea.ToString()

                            </span>
                        </div>
                    </div>

                }

            }
        </section>



        <section class="flex-container">
            <h2 class="ui header" style="color:aliceblue">
                Media
                <a class="btnAgendar" data-toggle="modal" data-target="#modalAgenda">
                    <i class="calendar alternate icon"></i>
                </a>
            </h2>
            @foreach (var tarea in Model.ListaTarea)
            {

                if (tarea.Prioridad_Id == 2 && (tarea.Fecha_Termino_Tarea >= DateTime.Now && tarea.Realizada == false))
                {


                    <div class="ui card @(@tarea.Realizada?"realizada":"")">
                        <div class="content">
                            <button class=" right floated red circular  ui icon button" value="@tarea.Id" data-toggle="modal" data-target="#modalEliminarTarea" onclick="PreparaEliminaTarea(this.value, this);">
                                <i class="trash icon"></i>
                            </button>
                            <button class=" right floated purple circular ui icon button" value="@tarea.Id" data-toggle="modal" data-target="#modalFinalizarTarea" onclick="PrepararRealizarTarea(this.value, this);">
                                <i class="check icon"></i>
                            </button>
                            <button class=" right floated blue  circular ui icon button" value="@tarea.Id" onclick="PrepararEditarTarea(this.value, this); EditarTarea();" data-toggle="modal" data-target="#modalAgenda">
                                <i class="eye icon"></i>
                            </button>
                            <div class="header">@tarea.Tipo_Tarea</div>
                            <div class="description">
                                <p>
                                    @tarea.Detalle
                                </p>
                            </div>
                        </div>
                        <div class="extra content">
                            <span class="left floated like">
                                <i class="user icon"></i>
                                @tarea.Nombre_Completo
                            </span>
                            <span class="left floated star">
                                <i class="calendar alternate outline icon"></i>
                                Fecha inicio @tarea.Fecha_Inicio_Tarea.ToString()

                            </span>
                            <span class="left floated star">
                                <i class="calendar alternate outline icon"></i>
                                Fecha termino @tarea.Fecha_Termino_Tarea.ToString()

                            </span>
                        </div>
                    </div>
                }
            }

        </section>




        <section class="flex-container">
            <h2 class="ui header" style="color:aliceblue">
                Alta
                <a class="btnAgendar" data-toggle="modal" data-target="#modalAgenda">
                    <i class="calendar alternate icon"></i>
                </a>
            </h2>
            @foreach (var tarea in Model.ListaTarea)
            {
                if (tarea.Prioridad_Id == 3 && (tarea.Fecha_Termino_Tarea >= DateTime.Now && tarea.Realizada == false))
                {

                    <div class="ui card @(@tarea.Realizada?"realizada":"")">
                        <div class="content">
                            <button class=" right floated red circular  ui icon button" value="@tarea.Id" data-toggle="modal" data-target="#modalEliminarTarea" onclick="PreparaEliminaTarea(this.value, this);">
                                <i class="trash icon"></i>
                            </button>
                            <button class=" right floated purple circular ui icon button" value="@tarea.Id" data-toggle="modal" data-target="#modalFinalizarTarea" onclick="PreparaEliminaTarea(this.value, this);">
                                <i class="check icon"></i>
                            </button>
                            <button class=" right floated blue circular ui icon button" value="@tarea.Id" onclick="PrepararEditarTarea(this.value, this); EditarTarea();" data-toggle="modal" data-target="#modalAgenda">
                                <i class="eye icon"></i>
                            </button>
                            <div class="header">@tarea.Tipo_Tarea</div>
                            <div class="description">
                                <p>
                                    @tarea.Detalle
                                </p>
                            </div>
                        </div>
                        <div class="extra content">
                            <span class="left floated like">
                                <i class="user icon"></i>
                                @tarea.Nombre_Completo
                            </span>
                            <span class="left floated star">
                                <i class="calendar alternate outline icon"></i>
                                Fecha inicio @tarea.Fecha_Inicio_Tarea.ToString()

                            </span>
                            <span class="left floated star">
                                <i class="calendar alternate outline icon"></i>
                                Fecha termino @tarea.Fecha_Termino_Tarea.ToString()

                            </span>
                        </div>
                    </div>
                }
            }


        </section>


        <section class="flex-container">
            <h2 class="ui header" style="color:aliceblue">
                Realizada
                <a class="btnAgendar" data-toggle="modal" data-target="#modalAgenda">
                    <i class="calendar alternate icon"></i>
                </a>
            </h2>
            @foreach (var tarea in Model.ListaTarea)

            {

                if (tarea.Realizada == true )
                {

                    <div class="ui card @(@tarea.Realizada?"realizada":"")" >
                        <div class="content">
                            <button class=" right floated red circular  ui icon button" value="@tarea.Id" data-toggle="modal" data-target="#modalEliminarTarea" onclick="PreparaEliminaTarea(this.value, this);">
                                <i class="trash icon"></i>
                            </button>
                            <button class=" right floated purple circular ui icon button" value="@tarea.Id" data-toggle="modal" data-target="#modalFinalizarTarea" onclick="PreparaEliminaTarea(this.value, this);">
                                <i class="check icon"></i>
                            </button>
                            <button class=" right floated blue circular ui icon button" value="@tarea.Id" onclick="PrepararEditarTarea(this.value, this); EditarTarea();" data-toggle="modal" data-target="#modalAgenda">
                                <i class="eye icon"></i>
                            </button>
                            <div class="header">@tarea.Tipo_Tarea</div>
                            <div class="description">
                                <p>
                                    @tarea.Detalle
                                </p>
                            </div>
                        </div>
                        <div class="extra content">
                            <span class="left floated like">
                                <i class="user icon"></i>
                                @tarea.Nombre_Completo
                            </span>
                            <span class="left floated star">
                                <i class="calendar alternate outline icon"></i>
                                Fecha inicio @tarea.Fecha_Inicio_Tarea.ToString()

                            </span>
                            <span class="left floated star">
                                <i class="calendar alternate outline icon"></i>
                                Fecha termino @tarea.Fecha_Termino_Tarea.ToString()

                            </span>
                        </div>
                    </div>

                }
            }

        </section>



        <section class="flex-container">
            <h2 class="ui header" style="color:aliceblue">
                Atrasada
                <a class="btnAgendar" data-toggle="modal" data-target="#modalAgenda">
                    <i class="calendar alternate icon"></i>
                </a>
            </h2>
            @foreach (var tarea in Model.ListaTarea)

            {

                if (tarea.Realizada != true && tarea.Fecha_Termino_Tarea < DateTime.Now)
                {

                    <div class="ui card @(@tarea.Realizada?"realizada":"")" id="CardAtrasada">
                        <div class="content">
                            <button class=" right floated red circular  ui icon button" value="@tarea.Id" data-toggle="modal" data-target="#modalEliminarTarea" onclick="PreparaEliminaTarea(this.value, this);">
                                <i class="trash icon"></i>
                            </button>
                            <button class=" right floated purple circular ui icon button" value="@tarea.Id" data-toggle="modal" data-target="#modalFinalizarTarea" onclick="PreparaEliminaTarea(this.value, this);">
                                <i class="check icon"></i>
                            </button>
                            <button class=" right floated blue circular ui icon button" value="@tarea.Id" onclick="PrepararEditarTarea(this.value, this); EditarTarea();" data-toggle="modal" data-target="#modalAgenda">
                                <i class="eye icon"></i>
                            </button>
                            <div class="header">@tarea.Tipo_Tarea</div>
                            <div class="description">
                                <p>
                                    @tarea.Detalle
                                </p>
                            </div>
                        </div>
                        <div class="extra content">
                            <span class="left floated like">
                                <i class="user icon"></i>
                                @tarea.Nombre_Completo
                            </span>
                            <span class="left floated star">
                                <i class="calendar alternate outline icon"></i>
                                Fecha inicio @tarea.Fecha_Inicio_Tarea.ToString()

                            </span>
                            <span class="left floated star">
                                <i class="calendar alternate outline icon"></i>
                                Fecha termino @tarea.Fecha_Termino_Tarea.ToString()

                            </span>
                        </div>
                    </div>

                }
            }

        </section>




    </div>


    <div class="modal fade" id="modalAgenda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left: auto; margin-right: auto; width: 95%; opacity:0.9">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div style="height:5px"></div>
                <div>

                    <h3 style="color:black" class="ui header">
                        <img class="bordered rounded" src="~/Recursos/Imagenes/LogoBackline.png" width="50" alt="">
                        Tareas
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="image content">
                        <div class="ui info message">
                            <div class="header">
                                Atención al llenar los datos!
                            </div>
                            Debes completar todos los campos para guardar!
                            <div class="ui divider"></div>
                            <div class="ui form">
                                <form>
                                    <div id="divcmbTipoTarea" class="field">
                                        <label>Tipo tarea:</label>
                                        <select id="cmbTipoTarea" name="cmbTipoTarea" class="ui search selection dropdown">
                                        </select>
                                    </div>

                                    <div id="divtxtFechaInicio" class="field">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha de inicio tarea:</font></font></label>
                                        <input id="txtFechaInicio" type="datetime-local" placeholder="">
                                    </div>
                                    <div id="divtxtFechaTermino" class="field">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha de termino tarea:</font></font></label>
                                        <input id="txtFechaTermino" type="datetime-local" placeholder="">
                                    </div>
                                    <div id="divcmbPrioridad" class="field">
                                        <label>Prioridad de tarea:</label>
                                        <select id="cmbPrioridad" name="cmbPrioridad" class="ui search selection dropdown">
                                        </select>
                                    </div>
                                    <div id="divcmbAsignacionUsuario" class="field">
                                        <label>Asignar usuarios:</label>
                                        <select id="cmbAsignacion" name="cmbAsignacion" multiple="" class="ui search selection dropdown">
                                        </select>
                                    </div>
                                    <div id="divTxtDetalle" class="field">
                                        <label>Detalle tarea:</label>
                                        <textarea placeholder="Detalle aquí..." rows="5" id="txtDetalle"></textarea>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div style="height:5px">

                    </div>
                    <div id="divExito" class="ui icon hidden positive  message">
                        <i class="stopwatch icon"></i>
                        <div class="content">
                            <div class="header">
                                Éxito!!
                            </div>
                            <p>La tarea fue guardada con éxito.</p>
                        </div>
                    </div>
                    <div class="actions">
                        <div id="DivMessajeErrorGeneral" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                            <i class="close icon"></i>
                            <div class="header">
                                Se han encontrado algunos problemas, revíselos...
                            </div>
                            <ul id="listMessajeError" class="list"></ul>
                        </div>
                    </div>
                    <div class="actions">
                        <div id="DivMessajeErrorGeneral" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                            <i class="close icon"></i>
                            <div class="header">
                                Se han encontrado algunos problemas, revíselos...
                            </div>
                            <ul id="listMessajeErrorAgregar" class="list"></ul>
                        </div>
                    </div>
                    <button id="btnGuardaTarea" class="ui right labeled blue icon button" onclick="GuardarTarea();">
                        <i class="check circle icon"></i><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Guardar Tarea
                            </font>
                        </font>
                    </button>
                    <button class="ui right labeled red icon button" onclick="window.location.replace('/Agenda?buscar=1')">
                        <i class="left arrow icon"></i><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Volver
                            </font>
                        </font>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalEliminarTarea" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">Eliminar Tarea</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="divConsultaElimina" class="ui icon warning message">
                        <i class="trash icon"></i>
                        <div class="content">
                            <div class="header">
                                ¿Desea eliminar esta tarea?
                            </div>
                            <p>Esta tarea será eliminada de forma lógica desde la base de datos</p>
                        </div>
                    </div>
                    <div id="divExitoElimina" class="ui icon hidden positive  message">
                        <i class="thumbs up icon"></i>
                        <div class="content">
                            <div class="header">
                                Éxito!!
                            </div>
                            <p>La tarea fue eliminado con éxito.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="btnEliminarTarea" onclick="EliminarTarea();" class="ui red right labeled icon button">
                        Eliminar Tarea
                        <i class="checkmark icon"></i>
                    </div>
                    <div id="btnCancelar" data-dismiss="modal" class="ui right labeled icon button">
                        Cancelar
                        <i class="cancel icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalFinalizarTarea" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">Finalizar Tarea</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="divConsultaElimina" class="ui icon warning message">
                        <i class="check icon"></i>
                        <div class="content">
                            <div class="header">
                                ¿Desea dar por realizada esta tarea?
                            </div>
                            <p>Esta tarea será marcada como realizada</p>
                        </div>
                    </div>
                    <div id="divcmbRealizada" class="field">
                        <label></label>
                        <div id="cmbRealizada" class="ui search selection dropdown">
                            <input type="hidden" id="idRealizada" name="idRealizada">
                            <i class="dropdown icon"></i>
                            <div class="default text">Seleccione</div>
                            <div id="cmbRealizadaMenu" class="menu">
                                <div class="item" data-value="true">Si</div>
                                <div class="item" data-value="false">No</div>
                            </div>
                        </div>
                    </div>
                    <div id="divExitoElimina" class="ui icon hidden positive  message">
                        <i class="thumbs up icon"></i>
                        <div class="content">
                            <div class="header">
                                Éxito!!
                            </div>
                            <p>La tarea fue marcada como realizada.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="btnRealizarTarea" onclick="RealizarTarea();" class="ui green right labeled icon button">
                        Cambiar estado
                        <i class="checkmark icon"></i>
                    </div>
                    <div id="btnCancelar" data-dismiss="modal" class="ui right labeled icon button">
                        Cancelar
                        <i class="cancel icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
<input type="hidden" id="hidTarea" value="0" />