@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AvisoCobro/AvisoCobro.cshtml";
}

@model BacklineSoporte.Models.AvisoCobroModel

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" />
    <title>Avisos de corte de servicio</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

    <script src="~/ScriptsVistas/LogicaAvisoCobro.js"></script>

    <style>
        html, body {
            background-color: #121213;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.52'%3E%3Ccircle fill='%23121213' cx='50' cy='0' r='50'/%3E%3Cg fill='%23171718' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%231b1b1c' cx='50' cy='100' r='50'/%3E%3Cg fill='%231f1f21' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23232326' cx='50' cy='200' r='50'/%3E%3Cg fill='%2327282b' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%232c2c2f' cx='50' cy='300' r='50'/%3E%3Cg fill='%23303134' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23343539' cx='50' cy='400' r='50'/%3E%3Cg fill='%23393a3f' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%233d3f44' cx='50' cy='500' r='50'/%3E%3Cg fill='%23424449' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2347494e' cx='50' cy='600' r='50'/%3E%3Cg fill='%234b4e54' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23505359' cx='50' cy='700' r='50'/%3E%3Cg fill='%2354585f' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23595d64' cx='50' cy='800' r='50'/%3E%3Cg fill='%235e626a' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23626770' cx='50' cy='900' r='50'/%3E%3Cg fill='%23676d75' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%236C727B' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
            background-attachment: fixed;
            background-size: contain;
            font-family: 'Numans', sans-serif;
        }
    </style>

    <script>
        var urlObtenerIntervaloTiempo = '@Url.Action("ObtenerIntervaloTiempo", "AvisoCobro")';
        var urlObtenerEmpresas = '@Url.Action("ObtenerEmpresas", "AvisoCobro")';
        var urlObtenerAviso = '@Url.Action("ObtenerAviso", "AvisoCobro")';
        var urlUpdateMensajeCorte = '@Url.Action("UpdateMensajeCorte", "AvisoCobro")';

        $(document).ready(function () {

            $('.ui.selection.dropdown').dropdown();
            $('.ui.menu .ui.dropdown').dropdown({
                on: 'hover'
            });
        });

    </script>
</head>
<body>
    <br />
    <div style="margin-left:auto; margin-right:auto; width:90%; opacity:0.9">
        <div class="ui bottom attached segment" style="margin-left:auto; margin-right:auto; width:100%">
            @if (SessionH.Usuario.Rol_Id == 1)
            {
                <div id="btnAgregaInformacion" data-toggle="modal" data-target="#modalSubeAvisos" class="ui blue right labeled icon button">
                    Subir o bajar aviso
                    <i class="checkmark icon"></i>
                </div>
            }
            <div id="btnSalir" class="ui right labeled icon button" onclick="javascript:location.href='/Home'" data-dismiss="modal">Volver<i class="arrow left icon"></i></div>
            <table class="ui celled striped table">
                <thead>
                    <tr>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Empresa</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Texto de aviso</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Intervalo de tiempo</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Mostrar aviso</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var Aviso in Model.ListaAvisos)
                        {
                            <tr>
                                @if (Aviso.MostrarAviso == true)
                                {
                                    <td style="text-align: right; word-wrap: break-word; background-color: green">@Aviso.NombreEmpresa</td>
                                    <td style="word-wrap: break-word; background-color: green">@Aviso.TextoAviso</td>
                                    <td style="text-align: right; word-wrap: break-word; background-color: green">@Aviso.IntervaloTiempo Min.</td>
                                    <td style="text-align: right; word-wrap: break-word; background-color: green">Si</td>
                                }
                                @if (Aviso.MostrarAviso == false)
                                {
                                    <td style="text-align: right">@Aviso.NombreEmpresa</td>
                                    <td>@Aviso.TextoAviso</td>
                                    <td style="text-align: right">@Aviso.IntervaloTiempo Min.</td>
                                    <td style="text-align: right">No</td>
                                }
                            </tr>
                        }

                    }

                </tbody>

            </table>
        </div>
      
    </div>
    <div class="modal fade" id="modalSubeAvisos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="opacity:1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="ui center aligned header">
                        <img src="~/Recursos/Imagenes/LogoBackline.png" class="ui image">
                        Avisos de suspensión del sistema.
                    </h3>
                </div>
                @*<img class="ui fluid image" src="~/Recursos/Imagenes/LogoEsyser_v2.png" />*@
                <div class="modal-body">
                    <div class="image content">
                        <div class="ui info message">
                            <div class="header">
                                Atención al completar los campos!
                            </div>
                            Recuerda completar todos los datos para guardar.
                            <div class="ui divider"></div>
                            <div class="ui form">
                                <form>
                                    <div class="two fields">
                                        <div id="divcmbEmpresa" class="field" style="width:100%">
                                            <label>Empresa</label>
                                            <select id="cmbEmpresa" name="cmbEmpresa" class="ui search selection dropdown" onchange="ObtenerAviso();">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="two fields">
                                        <div class="field" style="width:100%">
                                            <label>Visible</label>
                                            <div id="divcmbVisible" class="ui selection dropdown">
                                                <input type="hidden" id="idVisible" name="idVisible">
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Seleccione</div>
                                                <div id="cmbVisibleMenu" class="menu">
                                                    <div class="item" data-value="True">Si</div>
                                                    <div class="item" data-value="False">No</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="divcmbTiempo" class="field" style="width:100%">
                                            <label>Intervalo del aviso</label>
                                            <select id="cmbTiempo" name="cmbTiempo" class="ui search selection dropdown">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="two fields">
                                        <div id="divtxtDetalle" style="width:100%" class="field">
                                            <label>Texto del aviso</label>
                                            <textarea id="txtDetalle" style="text-transform:uppercase;"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="divExito" class="ui icon hidden positive  message">
                        <i class="stopwatch icon"></i>
                        <div class="content">
                            <div class="header">
                                Éxito!!
                            </div>
                            <p>El aviso fue subido con éxito.</p>
                        </div>
                    </div>
                    <div id="divError" class="ui icon hidden positive  message">
                        <i class="stopwatch icon"></i>
                        <div class="content">
                            <div class="header">
                                Error!!
                            </div>
                            <p>La boleta no fue generada.</p>
                        </div>
                    </div>
                    <div class="actions">
                        <div id="DivMessajeErrorGeneral" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                            <i class="close icon"></i>
                            <div class="header">
                                Se han encontrado algunos problemas, revíselos...
                            </div>
                            <ul id="listMessajeError" class="list"></ul>
                        </div>
                    </div>
                    <button id="btnSubirAviso" class="ui fluid labeled blue icon button" onclick="UpdateMensajeCorte();">
                        <i class="checkmark icon"></i>
                        Guardar
                    </button>
                    <div style="height:5px">

                    </div>
                    <button class="ui fluid labeled red icon button" onclick="window.location.replace('/Home')">
                        <i class="left chevron icon"></i>
                        Volver
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>