
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/CrearFarmacia/CrearFarmacia.cshtml";
}
@model BacklineSoporte.Models.CrearFarmaciaModel

<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crear farmacia</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <script src="~/ScriptsVistas/LogicaCrearFarmacia.js"></script>

    <script type="text/javascript">
        var urlGuardarFarmacia = '@Url.Action("GuardarFarmacia","CrearFarmacia")';
         var urlEditarFarmacia = '@Url.Action("EditarFarmacia","CrearFarmacia")';
        var urlEliminaFarmacia = '@Url.Action("EliminaFarmacia","CrearFarmacia")';

        $(document).ready(function () {

            $('.ui.selection.dropdown').dropdown();
            $('.ui.menu .ui.dropdown').dropdown({
                on: 'hover'
            });
        });

        function MuestraUsuarios(id) {
            location.href = '/MantenedorUsuarios?id=' + id;
        }

    </script>



    <style>
        html, body {
            background-color: #121213;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.52'%3E%3Ccircle fill='%23121213' cx='50' cy='0' r='50'/%3E%3Cg fill='%23171718' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%231b1b1c' cx='50' cy='100' r='50'/%3E%3Cg fill='%231f1f21' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23232326' cx='50' cy='200' r='50'/%3E%3Cg fill='%2327282b' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%232c2c2f' cx='50' cy='300' r='50'/%3E%3Cg fill='%23303134' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23343539' cx='50' cy='400' r='50'/%3E%3Cg fill='%23393a3f' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%233d3f44' cx='50' cy='500' r='50'/%3E%3Cg fill='%23424449' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2347494e' cx='50' cy='600' r='50'/%3E%3Cg fill='%234b4e54' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23505359' cx='50' cy='700' r='50'/%3E%3Cg fill='%2354585f' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23595d64' cx='50' cy='800' r='50'/%3E%3Cg fill='%235e626a' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23626770' cx='50' cy='900' r='50'/%3E%3Cg fill='%23676d75' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%236C727B' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
            background-attachment: fixed;
            background-size: contain;
            font-family: 'Numans', sans-serif;
        }
    </style>


</head>

<body>

    <br />
    <div style="margin-left:auto; margin-right:auto; width:95%; opacity:0.9">
        <div class="ui bottom attached segment" style="margin-left:auto; margin-right:auto; width:100%">
            <table class="ui celled definition table" style="width:30%">
                <tbody>

                    <tr>
                        <td>Botón</td>
                        <td>
                            <button class="ui icon red button" disabled>
                                <i class="trash icon"></i>
                            </button>


                        </td>
                        <td>
                            <button class="ui blue icon button" disabled>
                                <i class="edit icon"></i>
                            </button>
                        </td>
                        <td>
                            <button class="ui green icon button" disabled>
                                <i class="user circle outline icon"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Acción</td>
                        <td>Elimina farmacia</td>
                        <td>Edita farmacia</td>
                        <td>Usuarios</td>
                    </tr>
                </tbody>
            </table>
            <div id="btnCreaEmpresa" data-toggle="modal" data-target="#modalCrearEmpresa" class="ui blue right labeled icon button">
                Crear farmacia
                <i class="checkmark icon"></i>
            </div>
            <div id="btnSalir" class="ui right labeled icon button" onclick="javascript:location.href='/Home'" data-dismiss="modal">Volver<i class="arrow left icon"></i></div>
            <table class="ui celled striped table" width="100%">
                <thead>
                    <tr>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue; width:10%"></th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">ID</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Rut</th>                        
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Alias</th>                       
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Dirección</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Teléfono</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Correo</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Caja externo</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Fraccionamiento</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Omitir medico</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Cantidad Usuarios </th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var Farmacia in Model.ListaFarmacias)
                        {
                            <tr>
                                <td>
                                    <button class="ui icon red button" value="@Farmacia.Id" data-toggle="modal" data-target="#modalEliminarEmpresa" onclick="PreparaEliminaFarmacia(this.value, this);">
                                        <i class="trash icon"></i>
                                    </button>
                                    <button class="ui icon blue button" value="@Farmacia.Id" data-toggle="modal" data-target="#modalCrearEmpresa" onclick="PrepararEditarFarmacia(this.value, this); EditarFarmacia();">

                                        <i class="edit icon"></i>
                                    </button>
                                    <button class="ui icon green button" value="@Farmacia.Id" onclick="MuestraUsuarios(this.value, this);">
                                        <i class="user circle outline icon"></i>
                                    </button>
                                </td>
                                <td style="text-align: center">@Farmacia.Id</td>
                                <td style="text-align: center">@Farmacia.Rut</td>                              
                                <td style="text-align: center">@Farmacia.Alias</td>
                                <td style="text-align: center">@Farmacia.Direccion</td>
                                <td style="text-align: center">@Farmacia.Telefono</td>
                                <td style="text-align: center">@Farmacia.Correo</td>
                                @if (Farmacia.CajaExterno == true)
                                {


                                    <td>Si</td>
                                }
                                @if (Farmacia.CajaExterno == false)
                                {
                                    <td>No</td>
                                }
                                @if (Farmacia.EsEtiquetaDispensacion == true)
                                {
                                    <td>Si</td>

                                }
                                @if (Farmacia.EsEtiquetaDispensacion == false)
                                {
                                    <td>No</td>
                                }
                                @if (Farmacia.OmitirMedico == true)
                                {
                                    <td>Si</td>
                                }
                                @if (Farmacia.OmitirMedico == false)
                                {
                                    <td>No</td>
                                }
                                <td>@Farmacia.Contador</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>


    <br />


    <div class="modal fade" id="modalCrearEmpresa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left: auto; margin-right: auto; width: 90%; opacity:0.9">
        <div class="modal-dialog-sm" role="document">
            <div class="modal-content">
                <div style="height:5px"></div>
                <div>

                    <h3 style="color:black" class="ui header">
                        <img class="bordered rounded" src="~/Recursos/Imagenes/LogoBackline.png" width="50" alt="">
                        Creación de farmacias
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="image content">
                        <div class="ui info message">
                            <div class="header">
                                Atención al llenar los datos!
                            </div>
                            Debes completar todos los campos para guardar!
                            <div class="ui divider"></div>
                            <div class="ui form">
                                <form>
                                    <div class="two fields">
                                        <div id="divTxtRut" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rut empresa</font></font></label>
                                            <input id="txtRutEmpresa" type="text" placeholder="Ingrese rut de la empresa..." />
                                        </div>
                                        <div id="divTxtNombreEmpresa" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nombre empresa</font></font></label>
                                            <input id="txtNombreEmpresa" type="text" placeholder="Ingrese nombre de la empresa..." />
                                        </div>

                                    </div>
                                    <div class="two fields">

                                        <div id="divTxtAlias" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Alias</font></font></label>
                                            <input id="txtAlias" type="text" placeholder="Ingrese alias de la empresa..." />
                                        </div>
                                        <div id="divTxtRazonSocial" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Razón social</font></font></label>
                                            <input id="txtRazonSocial" type="text" placeholder="Ingrese razón social de la empresa..." />
                                        </div>
                                    </div>

                                    <div class="two fields">
                                        <div id="divTxtDireccion" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dirección</font></font></label>
                                            <input id="txtDireccion" type="text" placeholder="Ingrese la dirección de la empresa..." />
                                        </div>
                                        <div id="divTxtTelefono" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Teléfono</font></font></label>
                                            <input id="txtTelefono" type="text" placeholder="Ingrese teléfono de la empresa..." />
                                        </div>


                                    </div>

                                    <div class="two fields">
                                        <div id="divTxtCorreo" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Correo</font></font></label>
                                            <input id="txtCorreo" type="text" placeholder="Ingrese correo de la empresa..." />
                                        </div>
                                        <div id="divcmbCaja" class="field">
                                            <label>Caja externo</label>
                                            <div id="cmbCaja" class="ui search selection dropdown">
                                                <input type="hidden" id="idCaja" name="idCaja">
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Seleccione</div>
                                                <div id="cmbCajaExterno" class="menu">
                                                    <div class="item" data-value="true">Si</div>
                                                    <div class="item" data-value="false">No</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="two fields">
                                        <div id="divcmbFraccionamiento" class="field">
                                            <label>Tiene fraccionamiento</label>
                                            <div id="cmbFraccionamiento" class="ui search selection dropdown">
                                                <input type="hidden" id="idFraccionamiento" name="idFraccionamiento">
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Seleccione</div>
                                                <div id="cmbFraccionamiento" class="menu">
                                                    <div class="item" data-value="true">Si</div>
                                                    <div class="item" data-value="false">No</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="divcmbOmitirMedico" class="field">
                                            <label>Omitir medico</label>
                                            <div id="cmbOmitirMedico" class="ui search selection dropdown">
                                                <input type="hidden" id="idOmitirMedico" name="idOmitirMedico">
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Seleccione</div>
                                                <div id="cmbOmitirMedico" class="menu">
                                                    <div class="item" data-value="true">Si</div>
                                                    <div class="item" data-value="false">No</div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                    <div style="height:5px">

                    </div>
                    <div id="divExito" class="ui icon hidden positive  message">
                        <i class="stopwatch icon"></i>
                        <div class="content">
                            <div class="header">
                                Éxito!!
                            </div>
                            <p>La farmacia fue guardada con éxito.</p>
                        </div>
                    </div>
                    <div class="actions">
                        <div id="DivMessajeErrorGeneral" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                            <i class="close icon"></i>
                            <div class="header">
                                Se han encontrado algunos problemas, revíselos...
                            </div>
                            <ul id="listMessajeError" class="list"></ul>
                        </div>
                    </div>
                    <div class="actions">
                        <div id="DivMessajeErrorGeneralAgregar" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                            <i class="close icon"></i>
                            <div class="header">
                                Se han encontrado algunos problemas, revíselos...
                            </div>
                            <ul id="listMessajeErrorAgregar" class="list"></ul>
                        </div>
                    </div>
                    <button id="btnGuardaEmpresa" class="ui right labeled blue icon button" onclick="GuardarFarmacia();">
                        <i class="check circle icon"></i><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Guardar farmacia
                            </font>
                        </font>
                    </button>
                    <button class="ui right labeled red icon button" onclick="window.location.replace('/CrearFarmacia')">
                        <i class="left arrow icon"></i><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Volver
                            </font>
                        </font>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEliminarEmpresa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">Eliminar farmacia</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="divConsultaElimina" class="ui icon warning message">
                        <i class="trash icon"></i>
                        <div class="content">
                            <div class="header">
                                ¿Desea eliminar esta farmacia?
                            </div>
                            <p>Esta farmacia será eliminada de forma lógica desde la base de datos</p>
                        </div>
                    </div>
                    <div id="divExitoElimina" class="ui icon hidden positive  message">
                        <i class="thumbs up icon"></i>
                        <div class="content">
                            <div class="header">
                                Éxito!!
                            </div>
                            <p>La farmacia fue eliminada con éxito.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="btnEliminarEmpresa" onclick="EliminaFarmacia();" class="ui red right labeled icon button">
                        Eliminar Farmacia
                        <i class="checkmark icon"></i>
                    </div>
                    <div id="btnCancelar" data-dismiss="modal" class="ui right labeled icon button">
                        Cancelar
                        <i class="cancel icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



</html>

<input type="hidden" id="hidEmpresa" value="0" />