
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/CrearFarmacia/CrearFarmacia.cshtml";
}
@model BacklineSoporte.Models.CrearFarmaciaModel

<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crear farmacia</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <script src="~/ScriptsVistas/LogicaCrearFarmacia.js"></script>

    <script type="text/javascript">
        var urlGuardarFarmacia = '@Url.Action("GuardarFarmacia","CrearFarmacia")';
         var urlEditarFarmacia = '@Url.Action("EditarFarmacia","CrearFarmacia")';
        var urlEliminaFarmacia = '@Url.Action("EliminaFarmacia","CrearFarmacia")';

        $(document).ready(function () {

            $('.ui.selection.dropdown').dropdown();
            $('.ui.menu .ui.dropdown').dropdown({
                on: 'hover'
            });
        });

        function MuestraUsuarios(id) {
            location.href = '/MantenedorUsuarios?id=' + id;
        }

    </script>



    <style>
        html, body {
            background-color: #DDDDDE;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23DDDDDE'/%3E%3Cstop offset='1' stop-color='%2313A2FF'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
            background-attachment: fixed;
            background-size: contain;
            font-family: 'Numans', sans-serif;
        }
    </style>


</head>

<body>

    <br />
    <div style="margin-left:auto; margin-right:auto; width:95%; opacity:0.9">
        <div class="ui bottom attached segment" style="margin-left:auto; margin-right:auto; width:100%">
            <table class="ui celled definition table" style="width:30%">
                <tbody>

                    <tr>
                        <td>Botón</td>
                        <td>
                            <button class="ui icon red button" disabled>
                                <i class="trash icon"></i>
                            </button>


                        </td>
                        <td>
                            <button class="ui blue icon button" disabled>
                                <i class="edit icon"></i>
                            </button>
                        </td>
                        <td>
                            <button class="ui green icon button" disabled>
                                <i class="user circle outline icon"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Acción</td>
                        <td>Elimina farmacia</td>
                        <td>Edita farmacia</td>
                        <td>Usuarios</td>
                    </tr>
                </tbody>
            </table>
            <div id="btnCreaEmpresa" data-toggle="modal" data-target="#modalCrearEmpresa" class="ui blue right labeled icon button">
                Crear farmacia
                <i class="checkmark icon"></i>
            </div>
            <div id="btnSalir" class="ui right labeled icon button" onclick="javascript:location.href='/Home'" data-dismiss="modal">Volver<i class="arrow left icon"></i></div>
            <table class="ui celled striped table" width="100%">
                <thead>
                    <tr>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue; width:10%"></th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">ID</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Rut</th>                        
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Alias</th>                       
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Dirección</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Teléfono</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Correo</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Caja externo</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Fraccionamiento</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Omitir medico</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Cantidad Usuarios </th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var Farmacia in Model.ListaFarmacias)
                        {
                            <tr>
                                <td>
                                    <button class="ui icon red button" value="@Farmacia.Id" data-toggle="modal" data-target="#modalEliminarEmpresa" onclick="PreparaEliminaFarmacia(this.value, this);">
                                        <i class="trash icon"></i>
                                    </button>
                                    <button class="ui icon blue button" value="@Farmacia.Id" data-toggle="modal" data-target="#modalCrearEmpresa" onclick="PrepararEditarFarmacia(this.value, this); EditarFarmacia();">

                                        <i class="edit icon"></i>
                                    </button>
                                    <button class="ui icon green button" value="@Farmacia.Id" onclick="MuestraUsuarios(this.value, this);">
                                        <i class="user circle outline icon"></i>
                                    </button>
                                </td>
                                <td style="text-align: center">@Farmacia.Id</td>
                                <td style="text-align: center">@Farmacia.Rut</td>                              
                                <td style="text-align: center">@Farmacia.Alias</td>
                                <td style="text-align: center">@Farmacia.Direccion</td>
                                <td style="text-align: center">@Farmacia.Telefono</td>
                                <td style="text-align: center">@Farmacia.Correo</td>
                                @if (Farmacia.CajaExterno == true)
                                {


                                    <td>Si</td>
                                }
                                @if (Farmacia.CajaExterno == false)
                                {
                                    <td>No</td>
                                }
                                @if (Farmacia.EsEtiquetaDispensacion == true)
                                {
                                    <td>Si</td>

                                }
                                @if (Farmacia.EsEtiquetaDispensacion == false)
                                {
                                    <td>No</td>
                                }
                                @if (Farmacia.OmitirMedico == true)
                                {
                                    <td>Si</td>
                                }
                                @if (Farmacia.OmitirMedico == false)
                                {
                                    <td>No</td>
                                }
                                <td>@Farmacia.Contador</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>


    <br />


    <div class="modal fade" id="modalCrearEmpresa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left: auto; margin-right: auto; width: 90%; opacity:0.9">
        <div class="modal-dialog-sm" role="document">
            <div class="modal-content">
                <div style="height:5px"></div>
                <div>

                    <h3 style="color:black" class="ui header">
                        <img class="bordered rounded" src="~/Recursos/Imagenes/LogoBackline.png" width="50" alt="">
                        Creación de farmacias
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="image content">
                        <div class="ui info message">
                            <div class="header">
                                Atención al llenar los datos!
                            </div>
                            Debes completar todos los campos para guardar!
                            <div class="ui divider"></div>
                            <div class="ui form">
                                <form>
                                    <div class="two fields">
                                        <div id="divTxtRut" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rut empresa</font></font></label>
                                            <input id="txtRutEmpresa" type="text" placeholder="Ingrese rut de la empresa..." />
                                        </div>
                                        <div id="divTxtNombreEmpresa" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nombre empresa</font></font></label>
                                            <input id="txtNombreEmpresa" type="text" placeholder="Ingrese nombre de la empresa..." />
                                        </div>

                                    </div>
                                    <div class="two fields">

                                        <div id="divTxtAlias" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Alias</font></font></label>
                                            <input id="txtAlias" type="text" placeholder="Ingrese alias de la empresa..." />
                                        </div>
                                        <div id="divTxtRazonSocial" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Razón social</font></font></label>
                                            <input id="txtRazonSocial" type="text" placeholder="Ingrese razón social de la empresa..." />
                                        </div>
                                    </div>

                                    <div class="two fields">
                                        <div id="divTxtDireccion" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dirección</font></font></label>
                                            <input id="txtDireccion" type="text" placeholder="Ingrese la dirección de la empresa..." />
                                        </div>
                                        <div id="divTxtTelefono" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Teléfono</font></font></label>
                                            <input id="txtTelefono" type="text" placeholder="Ingrese teléfono de la empresa..." />
                                        </div>


                                    </div>

                                    <div class="two fields">
                                        <div id="divTxtCorreo" class="field">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Correo</font></font></label>
                                            <input id="txtCorreo" type="text" placeholder="Ingrese correo de la empresa..." />
                                        </div>
                                        <div id="divcmbCaja" class="field">
                                            <label>Caja externo</label>
                                            <div id="cmbCaja" class="ui search selection dropdown">
                                                <input type="hidden" id="idCaja" name="idCaja">
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Seleccione</div>
                                                <div id="cmbCajaExterno" class="menu">
                                                    <div class="item" data-value="true">Si</div>
                                                    <div class="item" data-value="false">No</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="two fields">
                                        <div id="divcmbFraccionamiento" class="field">
                                            <label>Tiene fraccionamiento</label>
                                            <div id="cmbFraccionamiento" class="ui search selection dropdown">
                                                <input type="hidden" id="idFraccionamiento" name="idFraccionamiento">
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Seleccione</div>
                                                <div id="cmbFraccionamiento" class="menu">
                                                    <div class="item" data-value="true">Si</div>
                                                    <div class="item" data-value="false">No</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="divcmbOmitirMedico" class="field">
                                            <label>Omitir medico</label>
                                            <div id="cmbOmitirMedico" class="ui search selection dropdown">
                                                <input type="hidden" id="idOmitirMedico" name="idOmitirMedico">
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Seleccione</div>
                                                <div id="cmbOmitirMedico" class="menu">
                                                    <div class="item" data-value="true">Si</div>
                                                    <div class="item" data-value="false">No</div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                    <div style="height:5px">

                    </div>
                    <div id="divExito" class="ui icon hidden positive  message">
                        <i class="stopwatch icon"></i>
                        <div class="content">
                            <div class="header">
                                Éxito!!
                            </div>
                            <p>La farmacia fue guardada con éxito.</p>
                        </div>
                    </div>
                    <div class="actions">
                        <div id="DivMessajeErrorGeneral" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                            <i class="close icon"></i>
                            <div class="header">
                                Se han encontrado algunos problemas, revíselos...
                            </div>
                            <ul id="listMessajeError" class="list"></ul>
                        </div>
                    </div>
                    <div class="actions">
                        <div id="DivMessajeErrorGeneralAgregar" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                            <i class="close icon"></i>
                            <div class="header">
                                Se han encontrado algunos problemas, revíselos...
                            </div>
                            <ul id="listMessajeErrorAgregar" class="list"></ul>
                        </div>
                    </div>
                    <button id="btnGuardaEmpresa" class="ui right labeled blue icon button" onclick="GuardarFarmacia();">
                        <i class="check circle icon"></i><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Guardar farmacia
                            </font>
                        </font>
                    </button>
                    <button class="ui right labeled red icon button" onclick="window.location.replace('/CrearFarmacia')">
                        <i class="left arrow icon"></i><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Volver
                            </font>
                        </font>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEliminarEmpresa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">Eliminar farmacia</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="divConsultaElimina" class="ui icon warning message">
                        <i class="trash icon"></i>
                        <div class="content">
                            <div class="header">
                                ¿Desea eliminar esta farmacia?
                            </div>
                            <p>Esta farmacia será eliminada de forma lógica desde la base de datos</p>
                        </div>
                    </div>
                    <div id="divExitoElimina" class="ui icon hidden positive  message">
                        <i class="thumbs up icon"></i>
                        <div class="content">
                            <div class="header">
                                Éxito!!
                            </div>
                            <p>La farmacia fue eliminada con éxito.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="btnEliminarEmpresa" onclick="EliminaFarmacia();" class="ui red right labeled icon button">
                        Eliminar Farmacia
                        <i class="checkmark icon"></i>
                    </div>
                    <div id="btnCancelar" data-dismiss="modal" class="ui right labeled icon button">
                        Cancelar
                        <i class="cancel icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>



</html>

<input type="hidden" id="hidEmpresa" value="0" />