@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Desarrollos/Desarrollos.cshtml";
}
@model BacklineSoporte.Models.DesarrollosModel
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Desarrollos</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/CSS/DesarrolloCSS.css">
    <script src="~/ScriptsVistas/LogicaDesarrollos.js"></script>

    <style>
        html, body {
            background-color: #121213;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.52'%3E%3Ccircle fill='%23121213' cx='50' cy='0' r='50'/%3E%3Cg fill='%23171718' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%231b1b1c' cx='50' cy='100' r='50'/%3E%3Cg fill='%231f1f21' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23232326' cx='50' cy='200' r='50'/%3E%3Cg fill='%2327282b' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%232c2c2f' cx='50' cy='300' r='50'/%3E%3Cg fill='%23303134' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23343539' cx='50' cy='400' r='50'/%3E%3Cg fill='%23393a3f' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%233d3f44' cx='50' cy='500' r='50'/%3E%3Cg fill='%23424449' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2347494e' cx='50' cy='600' r='50'/%3E%3Cg fill='%234b4e54' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23505359' cx='50' cy='700' r='50'/%3E%3Cg fill='%2354585f' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23595d64' cx='50' cy='800' r='50'/%3E%3Cg fill='%235e626a' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23626770' cx='50' cy='900' r='50'/%3E%3Cg fill='%23676d75' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%236C727B' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
            background-attachment: fixed;
            background-size: contain;
            font-family: 'Numans', sans-serif;
        }
    </style>
    <script type="text/javascript">
        var urlGuardarDesarrollo = '@Url.Action("GuardarDesarrollo" , "Desarrollos")';
        var urlEliminarDesarrollo = '@Url.Action("EliminarDesarrollo" , "Desarrollos")';
        var urlEditarDesarrollo = '@Url.Action("EditarDesarrollo" , "Desarrollos")';
        var urlObtenerEstados = '@Url.Action("ObtenerEstados" , "Desarrollos")';
        var urlObtenerUsuarios = '@Url.Action("ObtenerUsuarios" , "Desarrollos")';
        var urlBusquedaFiltro = '@Url.Action("BusquedaFiltro" , "Desarrollos")';

        function MuestraImagenes(id) {
            location.href = '/ImagenesDesarrollo?id=' + id;
        }

    </script>
</head>

<body>
    <br />
    <div style="margin-left:auto; margin-right:auto; width:95%; opacity:0.9">
        <div class="ui bottom attached segment" style="margin-left:auto; margin-right:auto; width:100%">
            <div class="ui info message">
                <div class="ui form">
                    <form>

                        <div class="fields" style="width:100%">
                            <div id="divtxtFiltroFechaDesde" class="field" style="width:15%">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha desde</font></font></label>
                                <input id="txtFiltroFechaDesde" type="date" placeholder="" value=@Session["FiltroInformeDesde"]>
                            </div>
                            <div id="divtxtFiltroFechaHasta" class="field" style="width:15%">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha hasta</font></font></label>
                                <input id="txtFiltroFechaHasta" type="date" placeholder="" value=@Session["FiltroInformeHasta"]>
                            </div>

                        </div>
                        <button id="btnBuscar" class="ui right labeled blue icon button" style="display:flex;" onclick="BusquedaFiltro();return false">
                            <i class="search icon"></i><font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">
                                    Buscar desarrollos
                                </font>
                            </font>
                        </button>

                    </form>
                </div>

                <table class="ui celled definition table" style="width:30%">
                    <tbody>

                        <tr>
                            <td>Botón</td>
                            <td>
                                <button class="ui icon red button" disabled>
                                    <i class="trash icon"></i>
                                </button>


                            </td>
                            <td>
                                <button class="ui blue icon button" disabled>
                                    <i class="edit icon"></i>
                                </button>
                            </td>
                            <td>
                                <button class="ui orange icon button" disabled>
                                    <i class="camera icon"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Acción</td>
                            <td>Elimina desarrollo</td>
                            <td>Edita desarrollo</td>
                            <td>Agregar imagen</td>
                        </tr>
                    </tbody>
                </table>
                <div id="btnAgregaDesarrollo" data-toggle="modal" data-target="#modalDesarrollos" class="ui blue right labeled icon button">
                    Agregar Desarrollo
                    <i class="checkmark icon"></i>
                </div>
                <div id="btnSalir" class="ui right labeled icon button" onclick="javascript:location.href='/Home'" data-dismiss="modal">Volver<i class="arrow left icon"></i></div>
            </div>
            <table class="ui celled striped table">
                <thead>
                    <tr>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue"></th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">ID</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Módulo</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Requerimiento</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Detalle requerimiento</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Responsable</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Fecha Inicio</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Fecha Término</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Tiempo restante</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Estado</th>
                        <th style="text-align: center; word-wrap: break-word; background-color: deepskyblue">Días de atraso</th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var desarrollo in Model.listaDesarrollos)
                        {
                                        <tr>
                                            <td>
                                                <button class="ui icon red button" value="@desarrollo.Id" data-toggle="modal" data-target="#modalEliminarDesarrollo" onclick="PreparaEliminarDesarrollo(this.value, this);">
                                                    <i class="trash icon"></i>
                                                </button>
                                                <button class="ui icon blue button" value="@desarrollo.Id" data-toggle="modal" data-target="#modalDesarrollos" onclick="PrepararEditarDesarrollo(this.value, this); EditarDesarrollo();">

                                                    <i class="edit icon"></i>
                                                </button>
                                                <button class="ui icon orange button" value="@desarrollo.Id" onclick="MuestraImagenes(this.value, this);">

                                                    <i class="camera icon"></i>
                                                </button>
                                            </td>
                                            <td>@desarrollo.Id</td>
                                            <td>@desarrollo.Modulo</td>
                                            <td>@desarrollo.Requerimiento</td>
                                            <td>@desarrollo.Detalle_Requerimiento</td>
                                            <td>@desarrollo.NombreCompleto</td>
                                            <td>@desarrollo.Fecha_Inicio.ToShortDateString()</td>
                                            <td>@desarrollo.Fecha_Termino.ToShortDateString()</td>

                                            @if (DateTime.Now > desarrollo.Fecha_Inicio && DateTime.Now <= desarrollo.Fecha_Termino)
                                            {

                                                <td class="@(desarrollo.Estado_Id == 2?"Atiempo":"Apunto")">@desarrollo.DiferenciaFecha Días</td>



                                            }
                                            @if (desarrollo.DiferenciaFecha < 1 && desarrollo.Estado_Id == 1)
                                            {


                                                <td style="background-color:red;">0 días</td>

                                            }

                                            @if (desarrollo.DiferenciaFecha < 1 && desarrollo.Estado_Id == 2)
                                            {


                                                <td style="background-color:lawngreen;">0 días</td>

                                            }
                                            @if (desarrollo.Fecha_Inicio > DateTime.Now)
                                            {
                                                <td style="background-color:coral;">Aún no comienza.</td>
                                            }








                                            @if (desarrollo.Estado_Id == 1 && desarrollo.DiferenciaFecha >= 1)
                                            {
                                                <td>EN PROCESO</td>
                                            }
                                            @if (desarrollo.Estado_Id == 2)
                                            {
                                                <td>TERMINADO</td>
                                            }

                                            @if (desarrollo.Estado_Id == 1 && desarrollo.DiferenciaFecha < 1)
                                            {
                                                <td>ATRASADO</td>
                                            }


                                            @if (desarrollo.Fecha_Termino < DateTime.Now && desarrollo.Estado_Id != 2)
                                            {
                                                <td>@desarrollo.DiferenciaFecha Días</td>
                                            }
                                            @if (desarrollo.Fecha_Termino < DateTime.Now && desarrollo.Estado_Id == 2)
                                            {
                                                <td>@desarrollo.Tiempo_Atraso Días</td>
                                            }
                                            @if (DateTime.Now > desarrollo.Fecha_Inicio && DateTime.Now <= desarrollo.Fecha_Termino || desarrollo.Fecha_Termino > DateTime.Now)
                                            {
                                                <td> 0 días</td>

                                            }
                                           
                                        </tr>

                        }

                    }

                </tbody>

            </table>
        </div>
    </div>

    <div class="modal fade" id="modalDesarrollos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left: auto; margin-right: auto; width: 95%; opacity:0.9">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div style="height:5px"></div>
                <div>

                    <h3 style="color:black" class="ui header">
                        <img class="bordered rounded" src="~/Recursos/Imagenes/LogoBackline.png" width="50" alt="">
                        Desarrollos
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="image content">
                        <div class="ui info message">
                            <div class="header">
                                Atención al llenar los datos!
                            </div>
                            Debes completar todos los campos para guardar!
                            <div class="ui divider"></div>
                            <div class="ui form">
                                <form>
                                    <div class="two fields">

                                        <div id="divTxtFechaInicio" class="field">
                                            <label>Fecha Inicio:</label>
                                            <input type="date" id="txtFechaInicio">

                                        </div>
                                        <div id="divTxtFechaTermino" class="field">
                                            <label>Fecha Término:</label>
                                            <input type="date" id="txtFechaTermino">

                                        </div>
                                    </div>


                                    <div id="divTxtModulo" class="field">
                                        <label>Módulo:</label>
                                        <input type="text" id="txtModulo" style="text-transform:uppercase;" placeholder="Ingrese el módulo a trabajar">

                                    </div>
                                    <div id="divTxtRequerimiento" class="field">
                                        <label>Requerimiento:</label>
                                        <input type="text" id="txtRequerimiento" placeholder="Ingrese requerimiento solicitado">

                                    </div>
                                    <div id="divcmbEstado" class="field">
                                        <label>Estado:</label>
                                        <select id="cmbEstado" name="cmbEstado" class="ui search selection dropdown">
                                        </select>
                                    </div>
                                    <div id="divcmbResponsable" class="field">
                                        <label>Responsable:</label>
                                        <select id="cmbResponsable" name="cmbResponsable" class="ui search selection dropdown">
                                        </select>
                                    </div>
                                    <div id="divTxtDetalle" class="field">
                                        <label>Detalle requerimiento:</label>
                                        <textarea placeholder="Detalle del requerimiento aquí..." rows="5" id="txtDetalle" style="text-transform:uppercase;"></textarea>
                                    </div>



                                </form>
                            </div>
                        </div>
                    </div>
                    <div style="height:5px">

                    </div>
                    <div id="divExito" class="ui icon hidden positive  message">
                        <i class="stopwatch icon"></i>
                        <div class="content">
                            <div class="header">
                                Éxito!!
                            </div>
                            <p>El desarrollo fue guardado con éxito.</p>
                        </div>
                    </div>
                    <div class="actions">
                        <div id="DivMessajeErrorGeneral" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                            <i class="close icon"></i>
                            <div class="header">
                                Se han encontrado algunos problemas, revíselos...
                            </div>
                            <ul id="listMessajeError" class="list"></ul>
                        </div>
                    </div>
                    <div class="actions">
                        <div id="DivMessajeErrorGeneral" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                            <i class="close icon"></i>
                            <div class="header">
                                Se han encontrado algunos problemas, revíselos...
                            </div>
                            <ul id="listMessajeErrorAgregar" class="list"></ul>
                        </div>
                    </div>
                    <button id="btnGuardaDesarrollo" class="ui right labeled blue icon button" onclick="GuardarDesarrollo();">
                        <i class="check circle icon"></i><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Guardar Desarrollo
                            </font>
                        </font>
                    </button>
                    <button class="ui right labeled red icon button" onclick="window.location.replace('/Desarrollos')">
                        <i class="left arrow icon"></i><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Volver
                            </font>
                        </font>
                    </button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
<div class="modal fade" id="modalEliminarDesarrollo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Eliminar Desarrollo</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="ui icon warning message">
                    <i class="trash icon"></i>
                    <div class="content">
                        <div class="header">
                            ¿Desea eliminar este desarrollo?
                        </div>
                        <p>Este desarrollo será eliminado de forma lógica desde la base de datos</p>
                    </div>

                </div>
                <div id="divExitoElimina" class="ui icon hidden positive  message">
                    <i class="thumbs up icon"></i>
                    <div class="content">
                        <div class="header">
                            Éxito!!
                        </div>
                        <p>El Desarrollo fue eliminado con éxito.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="btnEliminarDesarrollo" onclick="EliminarDesarrollo();" class="ui red right labeled icon button">
                    Eliminar Desarrollo
                    <i class="checkmark icon"></i>
                </div>
                <div id="btnCancelar" data-dismiss="modal" class="ui right labeled icon button">
                    Cancelar
                    <i class="cancel icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hidDesarrollo" value="0" />
