@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Desarrollos/Desarrollos.cshtml";
}
@model BacklineSoporte.Models.DesarrollosModel
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Desarrollos</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/CSS/DesarrolloCSS.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/FondoPantalla.css">
    <script src="~/ScriptsVistas/LogicaDesarrollos.js"></script>
    
    <script>
        var urlGuardarDesarrollo = '@Url.Action("GuardarDesarrollo" , "Desarrollos")';
        var urlEliminarDesarrollo = '@Url.Action("EliminarDesarrollo" , "Desarrollos")';
        var urlEditarDesarrollo = '@Url.Action("EditarDesarrollo" , "Desarrollos")';
        var urlObtenerEstados = '@Url.Action("ObtenerEstados" , "Desarrollos")';
        var urlObtenerUsuarios = '@Url.Action("ObtenerUsuarios" , "Desarrollos")';
        var urlBusquedaFiltro = '@Url.Action("BusquedaFiltro" , "Desarrollos")';

        function MuestraImagenes(id) {
            location.href = '/ImagenesDesarrollo?id=' + id;
        }
        function MuestraHoras(id) {
            location.href = '/HorasDesarrollo?id=' + id;
        }

        $(document).ready(function () {

            $('.ui.selection.dropdown').dropdown();
            $('.ui.menu .ui.dropdown').dropdown({
                on: 'hover'
            });
            $('.ui.accordion')
                .accordion()
                ;
        });


    </script>
</head>

<body>
    <br />
    <div style="margin-left:auto; margin-right:auto; width:97%; opacity:0.9">
        <div class="ui bottom attached segment" style="margin-left:auto; margin-right:auto; width:100%">
            <div class="ui styled fluid accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    Filtros
                </div>
                <div class="content">
                    <div id="modalFiltro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left: auto; margin-right: auto; width: 100%; opacity:1">
                        <div class="modal-dialog-xl" role="document">
                            <div class="modal-body">
                                <div class="ui info message">
                                    <div class="ui form">
                                        <form>
                                            <div class="fields" style="width:100%">
                                                <div id="divtxtFiltroFechaDesde" class="field" style="width:15%">
                                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha de desde</font></font></label>
                                                    <input id="txtFiltroFechaDesde" type="date" placeholder="" value=@Session["FiltroInformeDesde"]>
                                                </div>
                                                <div id="divtxtFiltroFechaHasta" class="field" style="width:15%">
                                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha de hasta</font></font></label>
                                                    <input id="txtFiltroFechaHasta" type="date" placeholder="" value=@Session["FiltroInformeHasta"]>
                                                </div>
                                                <div id="divcmbFiltroResponsable" class="field" style="width:20%">
                                                    <label>Responsable</label>
                                                    <select id="cmbFiltroResponsable" name="cmbFiltroResponsable" class="ui search selection dropdown">
                                                    </select>
                                                </div>
                                                <div class="field">
                                                    <label>Buscar</label>
                                                    <button id="btnbuscar" class="ui blue icon button" onclick="BusquedaFiltro();return false">
                                                        <i class="search icon"></i><font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">

                                                            </font>
                                                        </font>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="divExito" class="ui icon hidden positive message">
                                        <i class="thumbs up outline icon"></i>
                                        <div class="content">
                                            <div class="header">
                                                Éxito!!
                                            </div>
                                            <p>La factura se a guardado con éxito.</p>
                                        </div>
                                    </div>
                                    <div id="divError" class="ui icon hidden negative message">
                                        <i class="hand paper icon"></i>
                                        <div class="content">
                                            <div class="header">
                                                Error!!
                                            </div>
                                            <p>La factura no se a guardado con éxito.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="btnAgregaDesarrollo" data-toggle="modal" data-target="#modalDesarrollos" class="ui blue right labeled icon button">
            Agregar Desarrollo
            <i class="checkmark icon"></i>
        </div>
        <div id="btnSalir" class="ui right labeled icon button" onclick="javascript:location.href='/Home'" data-dismiss="modal">Volver<i class="arrow left icon"></i></div>
        <table class="ui celled striped table">
            <thead>
                <tr>
                    <th style="width: 200px"></th>
                    <th>Módulo</th>
                    <th>Requerimiento</th>
                    <th>Responsable</th>
                    <th style="width: 100px">Fecha Inicio</th>
                    <th style="width: 100px">Fecha Término</th>
                    <th>Tiempo restante</th>
                    <th>Estado</th>
                    <th>Días de atraso</th>
                    @*<th>Cronometro</th>*@
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var desarrollo in Model.listaDesarrollos)
                    {
                        <tr>
                            <td>
                                <button class="ui mini vertical animated red button" tabindex="0" value="@desarrollo.Id" data-toggle="modal" data-target="#modalEliminarDesarrollo" onclick="PreparaEliminarDesarrollo(this.value, this);">
                                    <div class="hidden content">Eliminar</div>
                                    <div class="visible content">
                                        <i class="trash icon"></i>
                                    </div>
                                </button>
                                <button class="ui mini vertical animated blue button" value="@desarrollo.Id" data-toggle="modal" data-target="#modalDesarrollos" onclick="PrepararEditarDesarrollo(this.value, this); EditarDesarrollo();">
                                    <div class="hidden content"> Editar</div>
                                    <div class="visible content">
                                        <i class="edit icon"></i>
                                    </div>

                                </button>
                                <button class="ui mini vertical animated black button" value="@desarrollo.Id" onclick="MuestraImagenes(this.value, this);">
                                    <div class="hidden content"> Imagenes</div>
                                    <div class="visible content">
                                        <i class="camera icon"></i>
                                    </div>
                                </button>
                                <br>
                                <button class="ui mini vertical animated green button" value="@desarrollo.Id" onclick="MuestraHoras(this.value, this);" style="width: 100px; margin-top: 2px;">
                                    <div class="hidden content">Horas Desarrollo</div>
                                    <div class="visible content">
                                        <i class="clock outline icon"></i>
                                    </div>
                                </button>
                            </td>
                            <td>@desarrollo.Modulo</td>
                            <td>@desarrollo.Requerimiento</td>
                            <td>@desarrollo.NombreCompleto</td>
                            <td>@desarrollo.Fecha_Inicio.ToShortDateString()</td>
                            <td>@desarrollo.Fecha_Termino.ToShortDateString()</td>

                            @if (DateTime.Now > desarrollo.Fecha_Inicio && DateTime.Now <= desarrollo.Fecha_Termino)
                            {

                                <td class="@(desarrollo.Estado_Id == 2?"Atiempo":"Apunto")">@desarrollo.DiferenciaFecha Días</td>



                            }
                            @if (desarrollo.DiferenciaFecha < 1 && desarrollo.Estado_Id == 1)
                            {


                                <td style="background-color:red;">0 días</td>

                            }

                            @if (desarrollo.DiferenciaFecha < 1 && desarrollo.Estado_Id == 2)
                            {


                                <td style="background-color:lawngreen;">0 días</td>

                            }
                            @if (desarrollo.Fecha_Inicio > DateTime.Now)
                            {
                                <td style="background-color:coral;">Aún no comienza.</td>
                            }








                            @if (desarrollo.Estado_Id == 1 && desarrollo.DiferenciaFecha >= 1)
                            {
                                <td>EN PROCESO</td>
                            }
                            @if (desarrollo.Estado_Id == 2)
                            {
                                <td>TERMINADO</td>
                            }

                            @if (desarrollo.Estado_Id == 1 && desarrollo.DiferenciaFecha < 1)
                            {
                                <td>ATRASADO</td>
                            }


                            @if (desarrollo.Fecha_Termino < DateTime.Now && desarrollo.Estado_Id != 2)
                            {
                                <td>@desarrollo.DiferenciaFecha Días</td>
                            }
                            @if (desarrollo.Fecha_Termino < DateTime.Now && desarrollo.Estado_Id == 2)
                            {
                                <td>@desarrollo.Tiempo_Atraso Días</td>
                            }
                            @if (DateTime.Now > desarrollo.Fecha_Inicio && DateTime.Now <= desarrollo.Fecha_Termino || desarrollo.Fecha_Termino > DateTime.Now)
                            {
                                <td> 0 días</td>

                            }
                            @*<td>
                                    <div>
                                        <div id="cronometro">00:00:00 000</div>
                                        <br><br>
                                        <button id="comecar_parar" class="circular ui icon button">
                                            <i class="play icon"></i>
                                        </button>
                                        <button id="zerar" class="circular ui icon button">
                                            <i class="stop icon"></i>
                                        </button>
                                    </div>
                                </td>*@
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>
    <div class="modal fade" id="modalDesarrollos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left: auto; margin-right: auto; width: 95%; opacity:0.9">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div style="height:5px"></div>
                <div>

                    <h3 style="color:black" class="ui header">
                        <img class="bordered rounded" src="~/Recursos/Imagenes/LogoBackline.png" width="50" alt="">
                        Desarrollos
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="image content">
                        <div class="ui info message">
                            <div class="header">
                                Atención al llenar los datos!
                            </div>
                            Debes completar todos los campos para guardar!
                            <div class="ui divider"></div>
                            <div class="ui form">
                                <form>
                                    <div class="two fields">

                                        <div id="divTxtFechaInicio" class="field">
                                            <label>Fecha Inicio:</label>
                                            <input type="date" id="txtFechaInicio">

                                        </div>
                                        <div id="divTxtFechaTermino" class="field">
                                            <label>Fecha Término:</label>
                                            <input type="date" id="txtFechaTermino">

                                        </div>
                                    </div>


                                    <div id="divTxtModulo" class="field">
                                        <label>Módulo:</label>
                                        <input type="text" id="txtModulo" placeholder="Ingrese el módulo a trabajar">

                                    </div>
                                    <div id="divTxtRequerimiento" class="field">
                                        <label>Requerimiento:</label>
                                        <input type="text" id="txtRequerimiento" placeholder="Ingrese requerimiento solicitado">

                                    </div>
                                    <div id="divcmbEstado" class="field">
                                        <label>Estado:</label>
                                        <select id="cmbEstado" name="cmbEstado" class="ui search selection dropdown">
                                        </select>
                                    </div>
                                    <div id="divcmbResponsable" class="field">
                                        <label>Responsable:</label>
                                        <select id="cmbResponsable" name="cmbResponsable" class="ui search selection dropdown">
                                        </select>
                                    </div>
                                    <div id="divTxtDetalle" class="field">
                                        <label>Detalle requerimiento:</label>
                                        <textarea placeholder="Detalle del requerimiento aquí..." rows="5" id="txtDetalle"></textarea>
                                    </div>



                                </form>
                            </div>
                        </div>
                    </div>
                    <div style="height:5px">

                    </div>
                    <div id="divExito" class="ui icon hidden positive  message">
                        <i class="stopwatch icon"></i>
                        <div class="content">
                            <div class="header">
                                Éxito!!
                            </div>
                            <p>El desarrollo fue guardado con éxito.</p>
                        </div>
                    </div>
                    <div class="actions">
                        <div id="DivMessajeErrorGeneral" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                            <i class="close icon"></i>
                            <div class="header">
                                Se han encontrado algunos problemas, revíselos...
                            </div>
                            <ul id="listMessajeError" class="list"></ul>
                        </div>
                    </div>
                    <div class="actions">
                        <div id="DivMessajeErrorGeneral" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                            <i class="close icon"></i>
                            <div class="header">
                                Se han encontrado algunos problemas, revíselos...
                            </div>
                            <ul id="listMessajeErrorAgregar" class="list"></ul>
                        </div>
                    </div>
                    <button id="btnGuardaDesarrollo" class="ui right labeled blue icon button" onclick="GuardarDesarrollo();">
                        <i class="check circle icon"></i><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Guardar Desarrollo
                            </font>
                        </font>
                    </button>
                    <button class="ui right labeled red icon button" onclick="window.location.replace('/Desarrollos?actualizar=1')">
                        <i class="left arrow icon"></i><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Volver
                            </font>
                        </font>
                    </button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
<div class="modal fade" id="modalEliminarDesarrollo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Eliminar Desarrollo</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="ui icon warning message">
                    <i class="trash icon"></i>
                    <div class="content">
                        <div class="header">
                            ¿Desea eliminar este desarrollo?
                        </div>
                        <p>Este desarrollo será eliminado de forma lógica desde la base de datos</p>
                    </div>

                </div>
                <div id="divExitoElimina" class="ui icon hidden positive  message">
                    <i class="thumbs up icon"></i>
                    <div class="content">
                        <div class="header">
                            Éxito!!
                        </div>
                        <p>El Desarrollo fue eliminado con éxito.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="btnEliminarDesarrollo" onclick="EliminarDesarrollo();" class="ui red right labeled icon button">
                    Eliminar Desarrollo
                    <i class="checkmark icon"></i>
                </div>
                <div id="btnCancelar" data-dismiss="modal" class="ui right labeled icon button">
                    Cancelar
                    <i class="cancel icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hidDesarrollo" value="0" />
