@model BacklineSoporte.Models.AgendaModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AgendaTabla/AgendaTabla.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" />
    <title>Agenda</title>
    <!-- Estilos y funciones básicas de funcionamiento -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Semantic UI CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/CSS/FondoPantalla.css">

    <script src="~/ScriptsVistas/LogicaAgendaTabla.js"></script>

    <style>
    </style>

    <script>

        var urlObtenerTipoTarea = '@Url.Action("ObtenerTipoTarea", "AgendaTabla")';
        var urlObtenerModalidadTarea = '@Url.Action("ObtenerModalidadTarea", "AgendaTabla")';
        var urlObtenerUsuarios = '@Url.Action("ObtenerUsuarios", "AgendaTabla")';
        var urlInsertarTarea = '@Url.Action("InsertarTarea", "AgendaTabla")';
        var urlEditarTarea = '@Url.Action("EditarTarea", "AgendaTabla")';
        var urlEliminarTarea = '@Url.Action("EliminarTarea", "AgendaTabla")';
        var urlBusquedaFiltro = '@Url.Action("BusquedaFiltro", "AgendaTabla")';
        var urlRealizarTarea = '@Url.Action("RealizarTarea", "AgendaTabla")';

        $(document).ready(function () {

            $('.ui.selection.dropdown').dropdown();
            $('.ui.menu .ui.dropdown').dropdown({
                on: 'hover'
            });
            $('.ui.accordion')
                .accordion()
                ;
        });

    </script>
</head>
<body>
    <br />
    <div style="margin-left:auto; margin-right:auto; width:95%; opacity:0.9">
        <div class="ui bottom attached segment" style="margin-left:auto; margin-right:auto; width:100%">
            <div class="ui styled fluid accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    Filtros
                </div>
                <div class="content">
                    <div id="modalFiltro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left: auto; margin-right: auto; width: 100%; opacity:1">
                        <div class="modal-dialog-xl" role="document">
                            <div class="modal-body">
                                <div class="ui info message">
                                    <div class="ui form">
                                        <form>
                                            <div class="fields" style="width:100%">
                                                <div id="divtxtFiltroFechaDesde" class="field" style="width:15%">
                                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha de desde</font></font></label>
                                                    <input id="txtFiltroFechaDesde" type="date" placeholder="" value=@Session["FiltroInformeDesde"]>
                                                </div>
                                                <div id="divtxtFiltroFechaHasta" class="field" style="width:15%">
                                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha de hasta</font></font></label>
                                                    <input id="txtFiltroFechaHasta" type="date" placeholder="" value=@Session["FiltroInformeHasta"]>
                                                </div>
                                                <div id="divcmbFiltroTipoTarea" class="field" style="width:20%">
                                                    <label>Tipo de tarea</label>
                                                    <select id="cmbFiltroTipoTarea" name="cmbFiltroTipoTarea" class="ui search selection dropdown">
                                                    </select>
                                                </div>
                                                <div class="field">
                                                    <label>Buscar</label>
                                                    <button id="btnbuscar" class="ui blue icon button" onclick="BusquedaFiltro();return false">
                                                        <i class="search icon"></i><font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">

                                                            </font>
                                                        </font>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="divExito" class="ui icon hidden positive message">
                                        <i class="thumbs up outline icon"></i>
                                        <div class="content">
                                            <div class="header">
                                                Éxito!!
                                            </div>
                                            <p>La factura se a guardado con éxito.</p>
                                        </div>
                                    </div>
                                    <div id="divError" class="ui icon hidden negative message">
                                        <i class="hand paper icon"></i>
                                        <div class="content">
                                            <div class="header">
                                                Error!!
                                            </div>
                                            <p>La factura no se a guardado con éxito.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div id="btnAgregaAgenda" data-toggle="modal" data-target="#modalAgenda2" class="ui blue right labeled icon button">
                Agregar Tarea
                <i class="checkmark icon"></i>
            </div>
            <div id="btnSalir" class="ui right labeled icon button" onclick="javascript:location.href='/Home'" data-dismiss="modal">Volver<i class="arrow left icon"></i></div>
            <table class="ui celled striped table">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID Tarea</th>
                        <th>Tipo de tarea</th>
                        <th>Detalle</th>
                        <th>Modalidad</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Termino</th>
                        <th>Usuario creador</th>
                        <th>Dar por realizada</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var agenda in Model.ListaAgenda)
                    {
                        <tr>
                            <td style="display:flex;">
                                <button class="ui mini vertical animated red button" tabindex="0" value="@agenda.Id" data-toggle="modal" data-target="#modalEliminarTarea" onclick="PreparaEliminaTarea(this.value, this);">
                                    <div class="hidden content">Eliminar</div>
                                    <div class="visible content">
                                        <i class="trash icon"></i>
                                    </div>
                                </button>
                                <button class="ui mini vertical animated blue button" value="@agenda.Id" data-toggle="modal" data-target="#modalAgenda2" onclick="PrepararEditarTarea(this.value, this); EditarTarea();">
                                    <div class="hidden content"> Editar</div>
                                    <div class="visible content">
                                        <i class="edit icon"></i>
                                    </div>

                                </button>
                            </td>
                            <td>@agenda.Id</td>
                            <td>@agenda.Tipo_Tarea</td>
                            <td>@agenda.Detalle</td>
                            <td>@agenda.Modalidad</td>
                            <td>@agenda.Fecha_Inicio_Tarea</td>
                            <td>@agenda.Fecha_Termino_Tarea</td>
                            <td>@agenda.Nombre_Completo</td>
                            @if (agenda.Realizada == true)
                            {
                                <td style="word-wrap: break-word;background-color:lawngreen">Tarea completada</td>
                            }
                            @if (agenda.Realizada == false)
                            {
                                <td style="text-align:center">
                                    <button class="ui mini vertical animated green button" value="@agenda.Id" data-toggle="modal" data-target="#modalFinalizarTarea" onclick="PrepararRealizarTarea(this.value, this);">
                                        <div class="hidden content">Realizada</div>
                                        <div class="visible content">
                                            <i class="thumbs up icon"></i>
                                        </div>
                                    </button>
                                </td>
                            }

                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
    <div class="modal fade" id="modalAgenda2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left: auto; margin-right: auto; width: 95%; opacity:0.9">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div style="height:5px"></div>
                <div>

                    <h4 style="color:black" class="ui header">
                        <img class="bordered rounded" src="~/Recursos/Imagenes/LogoBackline.png" width="50" alt="">
                        Tareas
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="image content">
                        <div class="ui info message">
                            <div class="header">
                                Atención al llenar los datos!
                            </div>
                            Debes completar todos los campos para guardar!
                            <div class="ui divider"></div>
                            <div class="ui form">
                                <form>
                                    <div id="divcmbTipoTarea" class="field">
                                        <label>Tipo tarea:</label>
                                        <select id="cmbTipoTarea" name="cmbTipoTarea" class="ui search selection dropdown">
                                        </select>
                                    </div>

                                    <div id="divtxtFechaInicio" class="field">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha de inicio tarea:</font></font></label>
                                        <input id="txtFechaInicio" type="datetime-local" placeholder="">
                                    </div>
                                    <div id="divtxtFechaTermino" class="field">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha de término tarea:</font></font></label>
                                        <input id="txtFechaTermino" type="datetime-local" placeholder="">
                                    </div>
                                    <div id="divcmbModalidad" class="field">
                                        <label>Modalidad tarea:</label>
                                        <select id="cmbModalidad" name="cmbModalidad" class="ui search selection dropdown">
                                        </select>
                                    </div>
                                    <div id="divcmbAsignacionUsuario" class="field">
                                        <label>Asignar usuarios:</label>
                                        <select id="cmbAsignacion" name="cmbAsignacion" multiple="" class="ui search selection dropdown">
                                        </select>
                                    </div>
                                    <div id="divTxtDetalle" class="field">
                                        <label>Detalle tarea:</label>
                                        <textarea placeholder="Detalle aquí..." rows="5" id="txtDetalle"></textarea>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div style="height:5px">

                    </div>
                    <div id="divExito" class="ui icon hidden positive  message">
                        <i class="stopwatch icon"></i>
                        <div class="content">
                            <div class="header">
                                Éxito!!
                            </div>
                            <p>La tarea fue guardada con éxito.</p>
                        </div>
                    </div>
                    <div class="actions">
                        <div id="DivMessajeErrorGeneral" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                            <i class="close icon"></i>
                            <div class="header">
                                Se han encontrado algunos problemas, revíselos...
                            </div>
                            <ul id="listMessajeError" class="list"></ul>
                        </div>
                    </div>
                    <div class="actions">
                        <div id="DivMessajeErrorGeneral" class="ui error hidden message" style="margin-left:auto; margin-right:auto; width:100%">
                            <i class="close icon"></i>
                            <div class="header">
                                Se han encontrado algunos problemas, revíselos...
                            </div>
                            <ul id="listMessajeErrorAgregar" class="list"></ul>
                        </div>
                    </div>
                    <button id="btnGuardaTarea" class="ui right labeled blue icon button" onclick="GuardarTarea();">
                        <i class="check circle icon"></i><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Guardar Tarea
                            </font>
                        </font>
                    </button>
                    <button class="ui right labeled red icon button" onclick="window.location.replace('/AgendaTabla?buscar=1')">
                        <i class="left arrow icon"></i><font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                Volver
                            </font>
                        </font>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalEliminarTarea" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">Eliminar Tarea</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="divConsultaElimina" class="ui icon warning message">
                        <i class="trash icon"></i>
                        <div class="content">
                            <div class="header">
                                ¿Desea eliminar esta tarea?
                            </div>
                            <p>Esta tarea será eliminada de forma lógica desde la base de datos</p>
                        </div>
                    </div>
                    <div id="divExitoElimina" class="ui icon hidden positive  message">
                        <i class="thumbs up icon"></i>
                        <div class="content">
                            <div class="header">
                                Éxito!!
                            </div>
                            <p>La tarea fue eliminado con éxito.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="btnEliminarTarea" onclick="EliminarTarea();" class="ui red right labeled icon button">
                        Eliminar Tarea
                        <i class="checkmark icon"></i>
                    </div>
                    <div id="btnCancelar" data-dismiss="modal" class="ui right labeled icon button">
                        Cancelar
                        <i class="cancel icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalFinalizarTarea" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">Finalizar Tarea</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="divConsultaElimina" class="ui icon warning message">
                        <i class="check icon"></i>
                        <div class="content">
                            <div class="header">
                                ¿Desea dar por realizada esta tarea?
                            </div>
                            <p>Esta tarea será marcada como realizada</p>
                        </div>
                    </div>
                    <div id="divExitoElimina" class="ui icon hidden positive  message">
                        <i class="thumbs up icon"></i>
                        <div class="content">
                            <div class="header">
                                Éxito!!
                            </div>
                            <p>La tarea fue marcada como realizada.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="btnRealizarTarea" onclick="RealizarTarea();" class="ui green right labeled icon button">
                        Completar tarea
                        <i class="checkmark icon"></i>
                    </div>
                    <div id="btnCancelar" data-dismiss="modal" class="ui right labeled icon button">
                        Cancelar
                        <i class="cancel icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<input type="hidden" id="idAgendaSeleccionada" value="0" />